<div class="bg-callout">
	<div class="callout large simple-blur">
		<div class="row column text-center">
			<h1>SoloBajio</h1>
			<p class="lead">Directorio comercial de Moroleon, Uriangato y Yuriria</p>
			<a href="" class="button large btn-primary">Comercios en la zona</a>
			<a href="" class="button large btn-secondary-hollow">Eventos</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<a href=""><p><img src="http://placehold.it/900x450" alt="main article image"></p></a>
	</div>
	<div class="medium-4 text-center columns hide-for-small-only">
		<a href=""><p><img src="http://placehold.it/900x450&text=No%20pagaron" alt="article promo image" alt="advertisement for deep fried Twinkies"></p></a>
		<a href=""><p><img src="http://placehold.it/900x450&text=No%20pagaron" alt="article promo image"></p></a>
	</div>
</div>

<div class="row">
	<div class="medium-6 columns">
		<a href=""><p><img src="http://placehold.it/900x450&text=Destacado"></p></a>
	</div>
	<div class="medium-6 columns">
		<a href=""><p><img src="http://placehold.it/900x450&text=Destacado"></p></a>
	</div>
</div>

<hr>
<div class="row column">
	<h4 style="margin: 0;" class="text-center">Categorias</h4>
</div>
<hr>

<div class="row small-up-2 medium-up-4">
	<div class="column">
		<p><img src="http://placehold.it/400x370&text=Hogar" alt="image for article"></p>
	</div>
	<div class="column">
		<p><img src="http://placehold.it/400x370&text=Automovil" alt="image for article"></p>
	</div>
	<div class="column">
		<p><img src="http://placehold.it/400x370&text=Ropa" alt="image for article"></p>
	</div>
	<div class="column">
		<p><img src="http://placehold.it/400x370&text=Comida" alt="image for article"></p>
	</div>
</div>

<section class="bg-afiliate">
	<div class="afiliate simple-blur">
		<div class="row column intro text-center">
			<ul class="vertical medium-horizontal menu expanded">
				<a href=""><h1 class="hide-for-small-only">Afilia tu negocio</h1></a>
				<li><a href=""><div class="stat">28</div><span>Socios</span></a></li>
				<li><a href=""><div class="stat">3400</div><span>Visitas</span></a></li>
			</ul>
		</div>
	</div>
</section>