{% load staticfiles %}
{% load spv_tags %}

<div class="map-display" id="map"></div>

<div id="info-content">
	<div class="title text-center">
		<h1>{{ negocio.name }}</h1>
		<h2>{{ negocio.slogan }}</h2>
	</div>
	
	<hr>
	
	<div class="text-center tags">
		{% for tag in negocio.tags.all %}
			<a href="{% url 'lugares' filtro=tag.name %}"><div class="chip-accent">{{ tag.name }}</div></a>
		{% endfor %}
	</div>

	<div class="gallery">
		{% for i in negocio.images.all %}
			<img src="{{ MEDIA_URL }}{{ i.image }}">
		{% endfor %}
	</div>
	
	<div class="bg-info">
	<div class="medium-up-2 row simple-blur" id="main-content" data-equalizer>
		<div class="flex-middle column" data-equalizer-watch>
			<ul class="collection with-header">
				<li class="collection-header fn-white fn-shadow"><h4>Contacto</h4></li>
				{% if negocio.cel1 and negocio.cel1 != "" %}
					<a href="tel:{{ negocio.cel1 }}"><li class="collection-item"><i class="fi-telephone fn-yellow"></i>{{ negocio.cel1 }}</li></a>
				{% endif %}
				{% if negocio.cel2 and negocio.cel2 != "" %}
					<a href="tel:{{ negocio.cel2 }}"><li class="collection-item"><i class="fi-telephone fn-yellow"></i>{{ negocio.cel2 }}</li></a>
				{% endif %}
				{% if negocio.cel3 and negocio.cel3 != "" %}
					<a href="tel:{{ negocio.cel3 }}"><li class="collection-item"><i class="fi-telephone fn-yellow"></i>{{ negocio.cel3 }}</li></a>
				{% endif %}
				{% if negocio.email and negocio.email != "" %}
					<a href="mailto:{{ negocio.email }}?Subject=SoloBajio%20Contacto"><li class="collection-item"><i class="fi-mail fn-yellow"></i>{{ negocio.email }}</li></a>
				{% endif %}
			</ul>
		</div>
		<div class="flex-middle column" data-equalizer-watch>
			<div class="social">
				{% if negocio.social_fb and negocio.social_fb != "" %}
					<a href="http://facebook.com/{{ negocio.social_fb }}" class="button btn-fb"><i class="fi-social-facebook"></i>{{ negocio.name }}</a>
				{% endif %}
				{% if negocio.social_twitter and negocio.social_twitter != "" %}
					<a href="http://twitter.com/{{ negocio.social_twitter }}" class="button btn-twitter"><i class="fi-social-twitter"></i>{{ negocio.social_twitter }}</a>
				{% endif %}
				{% if negocio.social_website and negocio.social_website != "" %}
					<a href="{{ negocio.social_website }}" class="button btn-website"><i class="fi-web"></i>{{ negocio.social_website }}</a>
				{% endif %}
			</div>
		</div>
	</div>
	</div>

	<div class="row large-up-2" id="information">
		<div class="column">
			<div class="card shadow-8dp">
				<h3 class="text-center card-title">Información</h3>
				<p class="justify">{{ negocio.info }}</p>
			</div>
		</div>
		<div class="column">
			<div class="card shadow-8dp">
				<h3 class="text-center card-title">Horarios</h3>
				<div id="horarios">
					{% for horario in negocio.horarios.all %}
						<div><span class="fn-black">{{days|array_index_one:horario.weekday}}</span>: {{horario.from_hour}} - {{horario.to_hour}}</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="row column recomendados">
		<hr>
			<h4 style="margin: 0;" class="text-center">Recomendados</h4>
		<hr>
	</div>

	<div class="row small-up-2 large-up-4">
		<div class="column">
			<p><a href=""><img src="http://placehold.it/640x480"></a></p>
		</div>
		<div class="column">
			<p><a href=""><img src="http://placehold.it/640x480"></a></p>
		</div>
		<div class="column">
			<p><a href=""><img src="http://placehold.it/640x480"></a></p>
		</div>
		<div class="column">
			<p><a href=""><img src="http://placehold.it/640x480"></a></p>
		</div>
	</div>
</div>