{% load staticfiles %}
<div class="bg-callout">
	<div class="callout large simple-blur">
		<div class="row column text-center">
			<h1>SoloBajio</h1>
			<p class="lead">Conectando comercios a la web</p>
			<a href="{% url 'lugares' %}" class="button large btn-primary">Comercios en la zona</a>
			<a href="{% url 'eventos' %}" class="button large btn-secondary-hollow">Eventos</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<p><a href=""><img src="http://placehold.it/800x600" class="best"></a></p>
	</div>
	<div class="medium-4 text-center columns">
		<p><a href="{% url 'lugares' %}"><img src="http://placehold.it/640x480&text=Lugares"></a></p>
		<p><a href="{% url 'eventos' %}"><img src="http://placehold.it/640x480&text=Eventos"></a></p>
	</div>
</div>

<section class="bg-afiliate">
	<div class="afiliate simple-blur">
		<div class="row column intro text-center">
			<ul class="vertical medium-horizontal menu expanded">
				<a href=""><h1 class="hide-for-small-only">Afilia tu negocio</h1></a>
				<li><a href=""><div class="stat">28</div><span>Socios</span></a></li>
				<li><a href=""><div class="stat">3400</div><span>Visitas</span></a></li>
			</ul>
		</div>
	</div>
</section>
