@import 'colors';

.btn-primary {
	border-color: $color-yellow;
	background-color: $color-yellow;
	color: #000;

	&:hover, &:focus {
		color: #000;
		border-color: $color-yellow-dark;
		background-color: $color-yellow-dark;
	}
}

.btn-secondary {
	border-color: $color-purple;
	background-color: $color-purple;

	&:hover, &:focus {
		border-color: $color-purple-dark;
		background-color: $color-purple-dark;
	}
}

.btn-primary-hollow {
	border-color: $color-yellow;
	background-color: transparent;
	color: $color-yellow;

	&:hover, &:focus {
		border-color: $color-yellow-dark;
		background-color: transparent;
		color: $color-yellow-dark;
	}
}

.btn-secondary-hollow {
	border-color: $color-purple;
	background-color: transparent;
	color: $color-purple;

	&:hover, &:focus {
		border-color: $color-purple-dark;
		background-color: transparent;
		color: $color-purple-dark;
	}
}