$color-menu: #292c2f; //#292c2f

// Beige
$color-skin: #FFF7D1;
$color-sand: #E0CF9C;

// Yellow
$color-yellow: #FFD338;
$color-yellow-dark: #EDAC37;

// Brown
$color-brown: #A94810;
$color-brown-dark: #632B08;

// Green
$color-green: #459D67;
$color-green-dark: #354D31;

// Blue
$color-blue: #92D3EA;
$color-blue-light: #C9E0ED;

// Purple
$color-purple: #2D3B60;
$color-purple-dark: #1E2740;