@import 'colors';
@import 'variables';

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.callout {
	border-right: 0px;
	border-left: 0px;
}

a:hover > img {
	-webkit-filter: brightness(.8);
	filter: brightness(.8);
}

////////// Phone //////////

@media (max-width: $grid-tablet-breakpoint - 1) {
	
}

////////// Tablet //////////

@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
	
}

////////// Desktop //////////

@media (min-width: $grid-desktop-breakpoint) {
	
}