@import 'colors';

#lugares-filtros {
	// overflow-x: auto;
	background-color: $color-purple;
	
	.colored {
		background-color: $color-purple;

		.elegir-title {
			margin: 0 30px;
			color: #fff;
		}
	}

	.showing-todo {
		color: $color-yellow;
		font-weight: bold;
	}
}

#lugares-listado {
	margin-top: 30px;
	margin-bottom: 30px;
}

.lugar {
	color: #111;
	width: 100%;
	margin: 0;

	a > img {
		width: 100%;
	}

	p img {
		vertical-align: top;
		max-height: 25px;
		margin: 0px 5px;
	}
}