{% load staticfiles %}
<div class="row large-up-2" id="listado-eventos">
{% for evento in eventos %}
	<div class="column">
		<div class="evento shadow-4dp">
			<figure>
				<img src="{{ MEDIA_URL }}{{ evento.image.all.0.image }}" alt="{{ evento.image.all.0.image }}">
				<figcaption>
					<p>{{ evento.title }}</p>
				</figcaption>			
			</figure>
			<div class="row small-up-2 text-center">
				<div class="column"><h3>Fecha</h3><p>{{ evento.date }}</p></div>
				<div class="column"><h3>Lugar</h3><p>{{ evento.place }}</p></div>
			</div>
			<p class="info">
				{{ evento.description }}
			</p>
		</div>
	</div>
{% endfor %}
