{% load staticfiles %}
<div class="row large-up-2" id="listado-eventos">
{% for evento in eventos %}
	<div class="column">
		<div class="evento shadow-4dp">
			<figure>
				<img src="{{ MEDIA_URL }}{{ evento.image.all.0.image }}" alt="{{ evento.image.all.0.image }}">
				<figcaption>
					<p>{{ evento.title }}</p>
				</figcaption>			
			</figure>
			<div class="row small-up-2 text-center">
				<div class="column"><h3>Fecha</h3><p>{{ evento.date }}</p></div>
				<div class="column"><h3>Lugar</h3><p>{{ evento.place }}</p></div>
			</div>
			<p class="info">
				{{ evento.description }}
			</p>
		</div>
	</div>
{% endfor %}
<div class="column">
	<div class="evento shadow-4dp">
		<figure>
			<img src="https://images.unsplash.com/photo-1422157245273-e08b638b4b00?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=fa44b326fa5476c4bfc3572d4d9820bf">
			<figcaption>
				<p>Nombre muy laaaargo del evento</p>
			</figcaption>			
		</figure>
		<div class="row small-up-2 text-center">
			<div class="column"><h3>Fecha</h3><p>Jan 14, 2016</p></div>
			<div class="column"><h3>Lugar</h3><p>Centro historico, Uriangato</p></div>
		</div>
		<p class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<div class="column">
	<div class="evento shadow-4dp">
		<figure>
			<img src="https://images.unsplash.com/photo-1444401045234-4a2ab1f645c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=dec2f52cdda4b6e2af3bf357c8be7773">
			<figcaption>
				<p>Nombre muy laaaargo del evento</p>
			</figcaption>			
		</figure>
		<div class="row small-up-2 text-center">
			<div class="column"><h3>Fecha</h3><p>Jan 14, 2016</p></div>
			<div class="column"><h3>Lugar</h3><p>Centro historico, Uriangato</p></div>
		</div>
		<p class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<div class="column">
	<div class="evento shadow-4dp">
		<figure>
			<img src="https://images.unsplash.com/photo-1432149586282-dcde63427978?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=56bc3d30769fedc22fd37f482663d99b">
			<figcaption>
				<p>Nombre muy laaaargo del evento</p>
			</figcaption>			
		</figure>
		<div class="row small-up-2 text-center">
			<div class="column"><h3>Fecha</h3><p>Jan 14, 2016</p></div>
			<div class="column"><h3>Lugar</h3><p>Centro historico, Uriangato</p></div>
		</div>
		<p class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
</div>