{% load staticfiles %}
<footer class="footer">
	<div class="row fn-white">
		<div class="small-12 medium-6 columns footer-main">
			<a href="{% url 'home' %}"><h2 class="fn-white"><img src="{% static 'img/SoloBajio_icon.png' %}" class="logo">SoloBajio</h2></a>
			<p class="footer-links">
				<a href="{% url 'home' %}">Inicio</a>
				<a href="{% url 'lugares' %}">Lugares</a>
				<a href="{% url 'eventos' %}">Eventos</a>
				<a href="">Contacto</a>
			</p>
			<ul class="inline-list social">
				<a href=""><i class="fi-social-facebook"></i></a>
				<a href=""><i class="fi-social-twitter"></i></a>
				<a href=""><i class="fi-web"></i></a>
				<a href="https://github.com/Anayamd"><i class="fi-social-github"></i></a>
			</ul>
			<p class="copywrite"><a href="http://solucionesdual.com">&copy; Soluciones Dual 2016</a></p>
		</div>

		<div class="small-12 medium-6 columns">
			<form method="POST" class="footer-form" action="{% url 'mensaje' %}">
				{% csrf_token %}
				<h3>Contáctanos</h3>
				<input type="email" id="email" placeholder="Email" required></input>
				<textarea rows="2" id="texto" placeholder="Mensaje" required></textarea>
				<button class="button btn-primary" type="submit" value="Submit">Enviar</button>
			</form>
		</div>
	</div>
</footer>