{% load staticfiles %}
<div class="top-bar" id="navbar">
	<div class="top-bar-left">
		<ul class="menu">
			<li><a href="{% url 'home' %}"><img src="{% static 'img/SoloBajio_icon.png' %}"><strong class="fn-white hide-for-small-only">SoloBajio</strong></a></li>
			<li><a href="{% url 'lugares' %}">Lugares</a></li>
			<li><a href="{% url 'eventos' %}">Eventos</a></li>
		</ul>
	</div>
	<div class="top-bar-right hide-for-small-only">
		<ul class="menu">
			<li><a href="">Conocenos</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
	</div>
</div>